<div class="dialog">
  <div class="control">
    <button class="btn-close" (click)="closeDialog()">X</button>
  </div>

  <app-create-board
    *ngIf="type === 'createBoard'"
    (eventCreateBoard)="createBoard($event)">
  </app-create-board>

  <app-create-task
    *ngIf="type === 'createTask'"
    [idBoard]="idBoard"
    [idStage]="idStage"
    (eventSuccessfulOperation)="closeDialog()">
  </app-create-task>

  <app-details
  *ngIf="type === 'details'"
  [idBoard]="idBoard"
  [idStage]="idStage"
  [idTask]="idTask">
  </app-details>

</div>
